@import "tailwindcss";
@config "../../tailwind.config.js";

body {
  @apply bg-background text-text font-sans antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1E1E1E;
  /* surface */
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 5px;
  border: 2px solid #1E1E1E;
}

::-webkit-scrollbar-thumb:hover {
  background: #E05D26;
  /* primary */
}